<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<title>St. Paul Crime</title>

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin=""/>
	  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="public/css/styles.css">

    <script type="application/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="application/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin=""></script>
	
	<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
	<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

	<script type="application/javascript">
		function Prompt() {
            $("#dialog-form").dialog({
                autoOpen: true,
                modal: true,
                width: "360px",
                buttons: {
                    "Ok": function() {
                        var prompt_input = $("#prompt_input");
                        Init(prompt_input.val());
                        $(this).dialog("close");
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }
            });
        }
		
		function Init(crime_api_url) {
			$.get(crime_api_url  + '/incidents?start_date=2019-10-1&end_date=2019-10-31', function(data){
				app.incidents = data;
				for (var key in app.incidents) {
					if (app.incidents.hasOwnProperty(key)) {
						crime_arr[app.incidents[key].neighborhood_number - 1] = crime_arr[app.incidents[key].neighborhood_number - 1] + 1;
					}
				}
								console.log(crime_arr[0]);
		
			});
			$.get(crime_api_url + '/codes', function(data){
				app.codes = data;
			});
			$.get(crime_api_url + '/neighborhoods', function(data){
				app.neighborhood_names = data;
			});
        }
/*
		function onClick()
		{
			var filters = "";
			for(neighborhood in app.neighborhood_names){
				console.log(neighborhood)
				if(document.getElementById(neighborhood).checked == true)
				{
					if(filters == "")
					{
						filters = filters + "?id=" + neighborhood;
					}
					else
					{
						filters = filters + ",neighborhood";
					}
				}
			}
			$.get(crime_api_url + '/incidents' + filters, function(data){
				app.incidents = data
			})
		}
*/
    </script>

</head>
<body onload="Prompt()">
	<div id="dialog-form" style="z-index: 2">
        <label for="name">URL for St. Paul Crime API:</label>
        <input type="text" id="prompt_input" class="text ui-widget-content ui-corner-all" style="width: 320px;"/>
    </div>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height: 80px">
		<a class="navbar-brand font-weight-bold" style="font-size:250% !important; text-align:center" href="../../map.html">St. Paul Crime</a>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link font-weight-bold" style="font-size:150%" href="public/templates/about.html">About</a>
			</li>
		</ul>
	</nav>

	<button class="accordion accordion btn-sm btn-info dropdown-toggle" style="top: 28px; left: 300px;">Neighborhoods</button>
	<div class="panel" style="top: 65px; left: 300px; width:175px">
		<div class="vertical-checkbox">
			<div><input type="checkbox" v-model="checkedN1"><label>Conway/Battlecreek/Highwood</label></div>
			<div><input type="checkbox" v-model="checkedN2"><label>Greater East Side</label></div>
			<div><input type="checkbox" v-model="checkedN3"><label>West Side</label></div>
			<div><input type="checkbox" v-model="checkedN4"><label>Dayton's Bluff</label></div>
			<div><input type="checkbox" v-model="checkedN5"><label>Payne/Phalen</label></div>
			<div><input type="checkbox" v-model="checkedN6"><label>North End</label></div>
			<div><input type="checkbox" v-model="checkedN7"><label>Thomas/Dale(Frogtown)</label></div>
			<div><input type="checkbox" v-model="checkedN8"><label>Summit/University</label></div>
			<div><input type="checkbox" v-model="checkedN9"><label>West Seventh</label></div>
			<div><input type="checkbox" v-model="checkedN10"><label>Como</label></div>
			<div><input type="checkbox" v-model="checkedN11"><label>Hamline/Midway</label></div>
			<div><input type="checkbox" v-model="checkedN12"><label>St. Anthony's Park</label></div>
			<div><input type="checkbox" v-model="checkedN13"><label>Union Park</label></div>
			<div><input type="checkbox" v-model="checkedN14"><label>Macalester-Groveland</label></div>
			<div><input type="checkbox" v-model="checkedN15"><label>Highland</label></div>
			<div><input type="checkbox" v-model="checkedN16"><label>Summit Hill</label></div>
			<div><input type="checkbox" v-model="checkedN18"><label>Capitol River</label></div>
		</div>
	</div>
	
	<button class="accordion accordion btn-sm btn-info dropdown-toggle" style="top: 28px; left: 450px;">Incident Types</button>
	<div class="panel" style="top: 65px; left: 450px; width:175px">
		<div class="vertical-checkbox">
			<div><input type="checkbox" name="neighborhoods" value="N1" id="Conway/Battlecreek/Highwood"><label>Conway/Battlecreek/Highwood</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N2" id="Greater East Side"><label>Greater East Side</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N3" id="West Side"><label>West Side</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N4" id="Dayton's Bluff"><label>Dayton's Bluff</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N5" id="Payne/Phalen"><label>Payne/Phalen</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N6" id="North End"><label>North End</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N7" id="Thomas/Dale(Frogtown)"><label>Thomas/Dale(Frogtown)</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N8" id="Summit/University"><label>Summit/University</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N9" id="West Seventh"><label>West Seventh</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N10" id="Como"><label>Como</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N11" id="Hamline/Midway"><label>Hamline/Midway</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N12" id="St. Anthony's Park"><label>St. Anthony's Park</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N13" id="Union Park"><label>Union Park</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N14" id="Macalester-Groveland"><label>Macalester-Groveland</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N15" id="Highland"><label>Highland</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N16" id="Summit Hill"><label>Summit Hill</label></div>
			<div><input type="checkbox" name="neighborhoods" value="N17" id="Capitol River"><label>Capitol River</label></div>
		</div>
	</div>
	
	<div class="input btn btn-info" style="left: 590px; text-align: left;">
		<p>
			Start Date:
		</p>

	</div>
	<div class="input btn btn-info" style="left: 820px; text-align: left;">
		<p>
			End Date:
		</p>

	</div>
	<form>
			Start Date:
			<input type="text" class="dates" name="start_date" style="top: 28px; left: 680px">
			End Date:
			<input type="text" class="dates" name="end_date" style="top: 28px; left: 905px">
	</form>
		
	<div id="mapid" style="z-index: 1; position: absolute; top: 80px; left: 0; right: 50%"></div>
		
	<div id="app"  style="position: absolute; left: 50%; top: 80px; right:0%"> 
		<div id=scrollbar>
			<table class="table table-sm table-bordered table-responsive" style="left:0">
				<thead>
					<tr>
						<th scope="col" class="small table-info font-weight-bold">Case Number</th>
						<th scope="col" class="small table-info font-weight-bold">Incident Type</th>
						<th scope="col" class="small table-info font-weight-bold">Incident</th>
						<th scope="col" class="small table-info font-weight-bold">Date</th>
						<th scope="col" class="small table-info font-weight-bold">Time</th>
						<th scope="col" class="small table-info font-weight-bold">Police Grid</th>
						<th scope="col" class="small table-info font-weight-bold">Block</th>
						<th scope="col" class="small table-info font-weight-bold">Neighborhood Name</th>
					</tr>
				</thead>
				<tbody>
					<!--violent crimes-->
					<tr class="tableRow" @click="getData(incident.block)" style="cursor:pointer" v-for="(incident, key) in incidents" 
					v-if="(incident.code < 300 || (incident.code < 500 && incident.code >= 400) || 
					(incident.code < 900 && incident.code > 800)) && app.getNeighborhood(incident.neighborhood_number)" bgcolor="#ff5447"> 
						<td>{{key}}</td>
						<td>{{app.codes['C'+incident.code]}}</td> 
						<td>{{incident.incident}}</td>
						<td>{{incident.date}}</td>
						<td>{{incident.time}}</td>
						<td>{{incident.police_grid}}</td>
						<td>{{incident.block}}</td>
						<td>{{app.neighborhood_names['N'+incident.neighborhood_number]}}</td> 
					</tr>

					<!--property crimes-->
					<tr class="tableRow" @click="getData(incident.block)" style="cursor:pointer" v-for="(incident, key) in incidents" 
					v-if="(incident.code < 400 && incident.code >= 300) || (incident.code < 800 && incident.code >= 500) || 
					(incident.code < 1500 && incident.code >= 900)" bgcolor="#47ceff">
						<td>{{key}}</td>
						<td>{{app.codes['C'+incident.code]}}</td> 
						<td>{{incident.incident}}</td>
						<td>{{incident.date}}</td>
						<td>{{incident.time}}</td>
						<td>{{incident.police_grid}}</td>
						<td>{{incident.block}}</td>
						<td>{{app.neighborhood_names['N'+incident.neighborhood_number]}}</td> 
					</tr>

					<!--other crimes-->
					<tr class="tableRow" @click="getData(incident.block)" style="cursor:pointer" v-for="(incident, key) in incidents" 
					v-if="incident.code >= 1800" bgcolor="#47ff9a">
						<td>{{key}}</td>
						<td>{{app.codes['C'+incident.code]}}</td>
						<td>{{incident.incident}}</td>
						<td>{{incident.date}}</td>
						<td>{{incident.time}}</td>
						<td>{{incident.police_grid}}</td>
						<td>{{incident.block}}</td>
						<td>{{app.neighborhood_names['N'+incident.neighborhood_number]}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div id="legend" style="position: absolute; bottom: 0; left: 50%; right: 0">
		<table class="table table-sm table-responsive;" style="right: 50%; top: 50%">
			<thead>
				<tr>
					<th scope="col" class="table-info font-weight-bold" width="20px">Type of Crime</th>
					<th scope="col" class="table-info font-weight-bold" width="10px">Color</th>
				</tr>
			</thead>
			<tbody>
				<tr class="tableRow">
					<td>Violent Crime</td>
					<td bgcolor="#ff5447"></td>
				</tr>
				<tr class="tableRow">
					<td>Property Crime</td>
					<td bgcolor="#47ceff"></td>
				</tr>
				<tr class="tableRow">
					<td>Other Crime</td>
					<td bgcolor="#47ff9a">
				</tr>
			</tbody>
		</table>
	</div>
			

	<script>		
		let crime_arr =[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
		var acc = document.getElementsByClassName("accordion");
		var i;
		for (i = 0; i < acc.length; i++) {
		  acc[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var panel = this.nextElementSibling;
			if (panel.style.display === "block") {
			  panel.style.display = "none";
			} else {
			  panel.style.display = "block";
			}
		  });
		} 
		
		console.log(crime_arr[0].toString());
		
		app = new Vue({
			el: "#app",
			data: {
				incidents: {},
				codes: {},
				neighborhood_names: {},	
				neighborhood_places: {
					"N1": [44.922261, -93.027227],
					"N2": [44.977473, -93.025327],
					"N3": [44.931064, -93.080664],
					"N4": [44.956252, -93.059503],
					"N5": [44.976702, -93.068935],
					"N6": [44.977405, -93.112685],
					"N7": [44.960065, -93.120456],
					"N8": [44.948733, -93.127346],
					"N9": [44.930766, -93.119996],
					"N10": [44.982184, -93.150126],
					"N11": [44.966129, -93.161192],
					"N12": [44.973303, -93.194188],
					"N13": [44.948243, -93.174665],
					"N14": [44.934211, -93.171586],
					"N15": [44.910127, -93.170779],
					"N16": [44.936824, -93.134851],
					"N17": [44.950892, -93.094614]
				},
				checkedN1: false,
				checkedN2: false,
				checkedN3: false,
				checkedN4: false,
				checkedN5: false,
				checkedN6: false,
				checkedN7: false,
				checkedN8: false,
				checkedN9: false,
				checkedN10: false,
				checkedN11: false,
				checkedN12: false,
				checkedN13: false,
				checkedN14: false,
				checkedN15: false,
				checkedN16: false,
				checkedN17: false,
				startDate: "",
				endDate: ""
			},
			methods:{
				getNeighborhood(neighborhood)
				{
					return this["checkedN"+neighborhood];
				}
			}
		});
		var mymap = L.map('mapid').setView([44.9537, -93.0900], 13).setMaxBounds(L.latLngBounds(L.latLng(45.002988, -93.213431), L.latLng(44.888871, -93.001800)));
		
		L.marker([44.922261, -93.027227], {
			icon: L.divIcon({
				className: 'my-custom-icon',
				html: "hi"
			})
		}).addTo(mymap); //conway
		L.marker([44.977473, -93.025327]).addTo(mymap); //greater east side
		L.marker([44.931064, -93.080664]).addTo(mymap); //west side
		L.marker([44.956252, -93.059503]).addTo(mymap); //dayton's bluff
		L.marker([44.976702, -93.068935]).addTo(mymap); //payne - phalen
		L.marker([44.977405, -93.112685]).addTo(mymap); //north end
		L.marker([44.960065, -93.120456]).addTo(mymap); //thomas - dale
		L.marker([44.948733, -93.127346]).addTo(mymap); //summit - university
		L.marker([44.930766, -93.119996]).addTo(mymap); //west seventh
		L.marker([44.982184, -93.150126]).addTo(mymap); //como
		L.marker([44.966129, -93.161192]).addTo(mymap); //hamline -midway
		L.marker([44.973303, -93.194188]).addTo(mymap); //st. anthony
		L.marker([44.948243, -93.174665]).addTo(mymap); //union park
		L.marker([44.934211, -93.171586]).addTo(mymap); //macalester - groveland
		L.marker([44.910127, -93.170779]).addTo(mymap); //highland
		L.marker([44.936824, -93.134851]).addTo(mymap); //summit hill
		L.marker([44.950892, -93.094614]).addTo(mymap); //capitol river
		L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',			
			maxZoom: 18,
			minZoom: 11,
			trackResize: true,
			id: 'mapbox/streets-v11',
			accessToken: 'pk.eyJ1Ijoia29jaDg2OTciLCJhIjoiY2szcnI5ZmhzMDk5ZTNtdWg2aGFneHA1aSJ9.uASUNV83v6H2Qr0QPfUkWw'
		}).addTo(mymap);
		
		L.Control.geocoder().addTo(mymap);
		
		mymap.addEventListener('move', function() {
			bounds = mymap.getBounds();
	
			
			if(app.neighborhood_places['N1'][0] > bounds._southWest.lat && app.neighborhood_places['N1'][0] < bounds._northEast.lat && app.neighborhood_places['N1'][1] > bounds._southWest.lng && app.neighborhood_places['N1'][1] < bounds._northEast.lng){
			console.log("HI");
}				 
			

			 document.getElementById("coords").innerHTML = mymap.getCenter();
		});
		
		function getData(data){
			var temp_string;
			var temp_string2;
			var m;
			temp_string = data.block.split(" ", 1);
			temp_string2 = temp_string[0];
			temp_string2 = temp_string2.substring(0, temp_string2.length-1);
			temp_string = "Date: " + data.date + "<br>Time: " + data.time + "<br>Incident: " + data.incident;

			if(isNaN(temp_string2) == false){
				data.block = data.block.replace("X", "0");
			}

			$.getJSON( "https://nominatim.openstreetmap.org/search?q="+data.block+"&limit=1&bounded=1&format=json&viewbox=-93.195159,44.902282,-93.005340,44.990488", function( data ) {
				mymap.flyTo([data[0].lat,data[0].lon], 17);
				m = L.marker([data[0].lat,data[0].lon]).bindPopup().addTo(mymap);
				
				m.on('mouseover', function(event){
					
					m.openPopup();
					event.target.getPopup().setContent(temp_string + '<br/><button type="button" class="btn btn-primary btn-sm"'  + '>Delete Marker</button>');
				})
			});
			
		}
	</script>
</body>
</html>