<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin=""/>
	  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="styles.css">

    <script type="application/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="application/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin=""></script>
	
	<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
	<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

	<script type="application/javascript">
		var prompt_input;
		function Prompt() {
            $("#dialog-form").dialog({
                autoOpen: true,
                modal: true,
                width: "360px",
                buttons: {
                    "Ok": function() {
                        prompt_input = $("#prompt_input");
                        Init(prompt_input.val());
                        $(this).dialog("close");
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }
            });
        }
		
		function Init(crime_api_url) {
			$.get(crime_api_url  + '/incidents?start_date=2019-10-1&end_date=2019-10-31', function(data){
				app.incidents = data;
				for (var key in app.incidents) {
					if (app.incidents.hasOwnProperty(key)) {
						crime_arr[app.incidents[key].neighborhood_number - 1] = crime_arr[app.incidents[key].neighborhood_number - 1] + 1;
					}
				}

				var m1 = L.marker([44.922261, -93.027227]).bindPopup().addTo(mymap); //conway
				m1.on('mouseover', function(event){
					m1.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[0].toString());
				})
				m1.on('mouseout', function(event){
  					m1.closePopup();
				});
				var m2 = L.marker([44.977473, -93.025327]).bindPopup().addTo(mymap); //greater east side
				m2.on('mouseover', function(event){
					m2.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[1].toString());
				})
				m2.on('mouseout', function(event){
  					m2.closePopup();
				});
				var m3 = L.marker([44.931064, -93.080664]).bindPopup().addTo(mymap); //west side
				m3.on('mouseover', function(event){
					m3.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[2].toString());
				})
				m3.on('mouseout', function(event){
  					m3.closePopup();
				});
				var m4 = L.marker([44.956252, -93.059503]).bindPopup().addTo(mymap); //dayton's bluff
				m4.on('mouseover', function(event){
					m4.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[3].toString());
				})
				m4.on('mouseout', function(event){
  					m4.closePopup();
				});
				var m5 = L.marker([44.976702, -93.068935]).bindPopup().addTo(mymap); //payne - phalen
				m5.on('mouseover', function(event){
					m5.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[4].toString());
				})
				m5.on('mouseout', function(event){
  					m5.closePopup();
				});
				var m6 = L.marker([44.977405, -93.112685]).bindPopup().addTo(mymap); //north end
				m6.on('mouseover', function(event){
					m6.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[5].toString());
				})
				m6.on('mouseout', function(event){
  					m6.closePopup();
				});
				var m7 = L.marker([44.960065, -93.120456]).bindPopup().addTo(mymap); //thomas - dale
				m7.on('mouseover', function(event){
					m7.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[6].toString());
				})
				m7.on('mouseout', function(event){
  					m7.closePopup();
				});
				var m8 = L.marker([44.948733, -93.127346]).bindPopup().addTo(mymap); //summit - university
				m8.on('mouseover', function(event){
					m8.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[7].toString());
				})
				m8.on('mouseout', function(event){
  					m8.closePopup();
				});
				var m9 = L.marker([44.930766, -93.119996]).bindPopup().addTo(mymap); //west seventh
				m9.on('mouseover', function(event){
					m9.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[8].toString());
				})
				m9.on('mouseout', function(event){
  					m9.closePopup();
				});
				var m10 = L.marker([44.982184, -93.150126]).bindPopup().addTo(mymap); //como
				m10.on('mouseover', function(event){
					m10.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[9].toString());
				})
				m10.on('mouseout', function(event){
  					m10.closePopup();
				});
				var m11 = L.marker([44.966129, -93.161192]).bindPopup().addTo(mymap); //hamline -midway
				m11.on('mouseover', function(event){
					m11.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[10].toString());
				})
				m11.on('mouseout', function(event){
  					m11.closePopup();
				});
				var m12 = L.marker([44.973303, -93.194188]).bindPopup().addTo(mymap); //st. anthony
				m12.on('mouseover', function(event){
					m12.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[11].toString());
				})
				m12.on('mouseout', function(event){
  					m12.closePopup();
				});
				var m13 = L.marker([44.948243, -93.174665]).bindPopup().addTo(mymap); //union park
				m13.on('mouseover', function(event){
					m13.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[12].toString());
				})
				m13.on('mouseout', function(event){
  					m13.closePopup();
				});
				var m14 = L.marker([44.934211, -93.171586]).bindPopup().addTo(mymap); //macalester - groveland
				m14.on('mouseover', function(event){
					m14.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[13].toString());
				})
				m14.on('mouseout', function(event){
  					m14.closePopup();
				});
				var m15 = L.marker([44.910127, -93.170779]).bindPopup().addTo(mymap); //highland
				m15.on('mouseover', function(event){
					m15.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[14].toString());
				})
				m15.on('mouseout', function(event){
  					m15.closePopup();
				});
				var m16 = L.marker([44.936824, -93.134851]).bindPopup().addTo(mymap); //summit hill
				m16.on('mouseover', function(event){
					m16.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[15].toString());
				})
				m16.on('mouseout', function(event){
  					m16.closePopup();
				});
				var m17 = L.marker([44.950892, -93.094614]).bindPopup().addTo(mymap); //capitol river
				m17.on('mouseover', function(event){
					m17.openPopup();
					event.target.getPopup().setContent("Crimes: " + crime_arr[16].toString());
				})
				m17.on('mouseout', function(event){
  					m17.closePopup();
				});
			});
			$.get(crime_api_url + '/codes', function(data){
				app.codes = data;
			});
			$.get(crime_api_url + '/neighborhoods', function(data){
				app.neighborhood_names = data;
			});


        }
    </script>

</head>
<body onload="Prompt()">
	<div id="dialog-form" style="z-index: 2">
        <label for="name">URL for St. Paul Crime API:</label>
        <input type="text" id="prompt_input" class="text ui-widget-content ui-corner-all" style="width: 320px;"/>
    </div>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height: 80px">
		<a class="navbar-brand" href="#">St. Paul Crime</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/public/templates/about.html">About</a>
			</li>
		</ul>
	</nav>

	
	<button class="accordion accordion btn-sm btn-info dropdown-toggle" style="top: 28px; left: 300px;">Neighborhoods</button>
	<div class="panel" style="top: 65px; left: 300px; width:175px">
		<div class="vertical-radio-buttons">
			<form action="prompt_input.val()" method="get">
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N1" id="Conway/Battlecreek/Highwood"><label>Conway/Battlecreek/Highwood</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N2" id="Greater East Side"><label>Greater East Side</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N3" id="West Side"><label>West Side</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N4" id="Dayton's Bluff"><label>Dayton's Bluff</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N5" id="Payne/Phalen"><label>Payne/Phalen</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N6" id="North End"><label>North End</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N7" id="Thomas/Dale(Frogtown)"><label>Thomas/Dale(Frogtown)</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N8" id="Summit/University"><label>Summit/University</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N9" id="West Seventh"><label>West Seventh</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N10" id="Como"><label>Como</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N11" id="Hamline/Midway"><label>Hamline/Midway</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N12" id="St. Anthony's Park"><label>St. Anthony's Park</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N13" id="Union Park"><label>Union Park</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N14" id="Macalester-Groveland"><label>Macalester-Groveland</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N15" id="Highland"><label>Highland</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N16" id="Summit Hill"><label>Summit Hill</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N17" id="Capitol River"><label>Capitol River</label>
				</span>
			  </div>
			</form>
		</div>
	</div>	
	
	<button class="accordion accordion btn-sm btn-info dropdown-toggle" style="top: 28px; left: 450px;">Incident Types</button>
	<div class="panel" style="top: 65px; left: 450px; width:175px">
		<div class="vertical-radio-buttons">
			<form>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N1" id="Conway/Battlecreek/Highwood"><label>Conway/Battlecreek/Highwood</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N2" id="Greater East Side"><label>Greater East Side</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N3" id="West Side"><label>West Side</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N4" id="Dayton's Bluff"><label>Dayton's Bluff</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N5" id="Payne/Phalen"><label>Payne/Phalen</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N6" id="North End"><label>North End</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N7" id="Thomas/Dale(Frogtown)"><label>Thomas/Dale(Frogtown)</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N8" id="Summit/University"><label>Summit/University</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N9" id="West Seventh"><label>West Seventh</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N10" id="Como"><label>Como</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N11" id="Hamline/Midway"><label>Hamline/Midway</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N12" id="St. Anthony's Park"><label>St. Anthony's Park</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N13" id="Union Park"><label>Union Park</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N14" id="Macalester-Groveland"><label>Macalester-Groveland</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N15" id="Highland"><label>Highland</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N16" id="Summit Hill"><label>Summit Hill</label>
				</span>
			  </div>
			  <div>
				<span>
				  <input type="checkbox" name="neighborhoods" value="N17" id="Capitol River"><label>Capitol River</label>
				</span>
			  </div>
			</form>
		</div>
	</div>
	
	<div class="input btn btn-info" style="left: 590px; text-align: left;">
		<p>
			Start Date:
		</p>

	</div>
	<div class="input btn btn-info" style="left: 820px; text-align: left;">
		<p>
			End Date:
		</p>

	</div>
	<form>
			Start Date:
			<input type="text" class="dates" name="start_date" style="top: 28px; left: 680px">
			End Date:
			<input type="text" class="dates" name="end_date" style="top: 28px; left: 905px">
	</form>
		
	<div id="mapid" style="z-index: 1; position: absolute; top: 80px; left: 0; bottom: 0; right: 50%"></div>
		
	<div id="app"  style="position: absolute; left: 50%; top: 80px; right:0%"> 
		<div id=scrollbar>
			<table class="table table-sm table-bordered table-responsive;" style="right: 0%;">
				<thead class="thead-info">
					<tr>
						<th scope="col" class="small table-info font-weight-bold">Case Number</th>
						<th scope="col" class="small table-info font-weight-bold">Incident Type</th>
						<th scope="col" class="small table-info font-weight-bold">Incident</th>
						<th scope="col" class="small table-info font-weight-bold">Date</th>
						<th scope="col" class="small table-info font-weight-bold">Time</th>
						<th scope="col" class="small table-info font-weight-bold">Police Grid</th>
						<th scope="col" class="small table-info font-weight-bold">Block</th>
						<th scope="col" class="small table-info font-weight-bold">Neighborhood Name</th>
					</tr>
				</thead>
				<tbody>
					<!--violent crimes-->
					<tr class="tableRow" @click="getData(incident)" style="cursor:pointer" v-for="(incident, key) in incidents " v-if="(incident.code < 300 || (incident.code < 500 && incident.code >= 400) || (incident.code < 900 && incident.code > 800))" bgcolor="#ff5447"> 
						<td>{{key}}</td>
						<td>{{app.codes['C'+incident.code]}}</td> 
						<td>{{incident.incident}}</td>
						<td>{{incident.date}}</td>
						<td>{{incident.time}}</td>
						<td>{{incident.police_grid}}</td>
						<td>{{incident.block}}</td>
						<td>{{app.neighborhood_names['N'+incident.neighborhood_number]}}</td> 
					</tr>

					<!--property crimes-->
					<tr class="tableRow" @click="getData(incident)" style="cursor:pointer" v-for="(incident, key) in incidents" v-if="(incident.code < 400 && incident.code >= 300) || (incident.code < 800 && incident.code >= 500) || (incident.code < 1500 && incident.code >= 900)" bgcolor="#47ceff">
						<td>{{key}}</td>
						<td>{{app.codes['C'+incident.code]}}</td> 
						<td>{{incident.incident}}</td>
						<td>{{incident.date}}</td>
						<td>{{incident.time}}</td>
						<td>{{incident.police_grid}}</td>
						<td>{{incident.block}}</td>
						<td>{{app.neighborhood_names['N'+incident.neighborhood_number]}}</td> 
					</tr>

					<!--other crimes-->
					<tr class="tableRow" @click="getData(incident)" style="cursor:pointer" v-for="(incident, key) in incidents" v-if="incident.code >= 1800 
						&& app.neighborhood_places['N'+incident.neighborhood_number][0] > bounds._southWest.lat && app.neighborhood_places['N'+incident.neighborhood_number][0] < bounds._northEast.lat && app.neighborhood_places['N'+incident.neighborhood_number][1] > bounds._southWest.lng && app.neighborhood_places['N'+incident.neighborhood_number][1] < bounds._northEast.lng" bgcolor="#47ff9a">
						<td>{{key}}</td>
						<td>{{app.codes['C'+incident.code]}}</td>
						<td>{{incident.incident}}</td>
						<td>{{incident.date}}</td>
						<td>{{incident.time}}</td>
						<td>{{incident.police_grid}}</td>
						<td>{{incident.block}}</td>
						<td>{{app.neighborhood_names['N'+incident.neighborhood_number]}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<p id="coords" style="position: absolute; bottom: 0; font-size:16px; z-index: 5"></p>

	<script>	
		let bounds;
		let crime_arr =[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
		  acc[i].addEventListener("click", function() {
			this.classList.toggle("active");

			var panel = this.nextElementSibling;
			if (panel.style.display === "block") {
			  panel.style.display = "none";
			} else {
			  panel.style.display = "block";
			}
		  });
		} 
		
		app = new Vue({
			el: "#app",
			data: {
				incidents: {},
				codes: {},
				neighborhood_names: {},
				neighborhood_places: {
					"N1": [44.922261, -93.027227],
					"N2": [44.977473, -93.025327],
					"N3": [44.931064, -93.080664],
					"N4": [44.956252, -93.059503],
					"N5": [44.976702, -93.068935],
					"N6": [44.977405, -93.112685],
					"N7": [44.960065, -93.120456],
					"N8": [44.948733, -93.127346],
					"N9": [44.930766, -93.119996],
					"N10": [44.982184, -93.150126],
					"N11": [44.966129, -93.161192],
					"N12": [44.973303, -93.194188],
					"N13": [44.948243, -93.174665],
					"N14": [44.934211, -93.171586],
					"N15": [44.910127, -93.170779],
					"N16": [44.936824, -93.134851],
					"N17": [44.950892, -93.094614]
				}
			},
		});
		
		var mymap = L.map('mapid').setView([44.9537, -93.0900], 13).setMaxBounds(L.latLngBounds(L.latLng(44.902282, -93.195159), L.latLng(44.990488, -93.005340)));

		L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',			
			maxZoom: 18,
			minZoom: 11,
			trackResize: true,
			id: 'mapbox/streets-v11',
			accessToken: 'pk.eyJ1Ijoia29jaDg2OTciLCJhIjoiY2szcnI5ZmhzMDk5ZTNtdWg2aGFneHA1aSJ9.uASUNV83v6H2Qr0QPfUkWw'
		}).addTo(mymap);
		
		L.Control.geocoder({
			collapsed: false,
		}).addTo(mymap);
		
		mymap.addEventListener('move', function() {
			bounds = mymap.getBounds();
	
			
			if(app.neighborhood_places['N1'][0] > bounds._southWest.lat && app.neighborhood_places['N1'][0] < bounds._northEast.lat && app.neighborhood_places['N1'][1] > bounds._southWest.lng && app.neighborhood_places['N1'][1] < bounds._northEast.lng){
			console.log("HI");
}				
			

			 document.getElementById("coords").innerHTML = mymap.getCenter();
		});
		
		asdfsd
		function getData(data){
			console.log(data.time);
			var temp_string;
			var temp_string2;
			var m;
			temp_string = data.block.split(" ", 1);
			temp_string2 = temp_string[0];
			temp_string2 = temp_string2.substring(0, temp_string2.length-1);
			temp_string = "Date: " + data.date + "<br>Time: " + data.time + "<br>Incident: " + data.incident;

			if(isNaN(temp_string2) == false){
				data.block = data.block.replace("X", "0");
			}

			$.getJSON( "https://nominatim.openstreetmap.org/search?q="+data.block+"&limit=1&bounded=1&format=json&viewbox=-93.195159,44.902282,-93.005340,44.990488", function( data ) {
				mymap.flyTo([data[0].lat,data[0].lon], 17);
				m = L.marker([data[0].lat,data[0].lon]).bindPopup().addTo(mymap);
				
				m.on('mouseover', function(event){
					
					m.openPopup();
					event.target.getPopup().setContent(temp_string + '<br/><button type="button" class="btn btn-primary btn-sm"'  + '>Delete Marker</button>');
				})
			});
			
		}
	</script>
</body>
</html>