 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
	z-index:2; 
	position: absolute; 
	cursor: pointer;
	padding: 18px;
	width: 125px;
	border: none;
	outline: none;
	transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	z-index:2; 
	position: absolute; 
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
} 
#mapid {
	height: 91vh;
}

#scrollbar
{
	height: 78.2vh;
	overflow: scroll
}

.dates {
	z-index:2;
	width:120px;
	position:absolute;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.my-custom-icon{
  width: 28px !important;
  height: 28px !important;
  margin-left: -12px;
  margin-top: -12px;
  border-radius: 18px;
  border: 2px solid #3F51B5;
  text-align: center;
  color: #3F51B5;
  background-color: #fff;
  font-size: 12px;
}

.input {
	z-index:2; 
	position: absolute;
	top: 28px;
	width: 200px;
	height: 30px;
	padding: 18px;
}