.scroll_table {
    max-height: 23.5rem;
    max-width: 940px;
    display: inline-block;
    overflow: scroll;
    border: solid 1px black;
}
.table-condensed {
    font-size: 10px;
    border-collapse: collapse;
    table-layout: fixed;
}

tbody tr:nth-child(even) {
    background-color: #C8C8C8;
}

tbody tr:nth-child(odd) {
    background-color: #F4F4F4;
}

/*
thead tr {
    background-color: #A0D5EB;
    border-bottom: solid 1px #000000;
}
*/
th {
    min-width: 11rem;
}

td {
    padding-left: 3rem;

}

.spacer1 {
    height: 5rem;
    clear: both;
}
