#mapid {
	z-index: 1; 
	left: 5%; 
	height: 90vh;
}

#coords {
	font-size:16px;
}

#scrollbar{
	height: 50vh;
	overflow: scroll
}

.vertical-checkbox {
	font-size: 13px;
	position: absolute;
	width: 233px;
	left: 15%;
}

td{
	font-size: small;
}